---
import TestimonialPFP from "@Assets/icons/TestimonialPFP.svg";
---

<div class="text-center z-10  md:scale-125">
    <img src={TestimonialPFP.src} alt="" class="m-auto py-5">
    <span class="text-[#FA8A37]/80  font-geist_mono selection:bg-accent/20">// Building your dream company</span>
    <h1 class="text-4xl text-text selection:bg-accent/20 selection:text-accent">Growth your <span class="italic font-bodoni_moda bg-accent/20 text-accent">Bussiness</span><br>with <span class="italic font-bodoni_moda">our</span> Applications</h1>
</div>