---
import { PROJECT_SETTINGS } from "@Utils/settings";
import LogoWhite from "@Assets/icons/LogoWhite.svg"
import Navbar from "@Components/Navbar/Navbar.astro"

interface Props {
	titlePage?: string;
}

const { titlePage } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={ LogoWhite.src } />
		<meta name="generator" content={Astro.generator} />
		<title>Growth | { titlePage? titlePage : PROJECT_SETTINGS.PROJECT_NAME }</title>
	</head>
	<body class="bg-secondary">
		<Navbar />
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
